<!DOCTYPE html>
<html>
	<head>
		<link href="/css/styles.css" rel="stylesheet">
	</head>

	<body>
	
		<header class="center">
			<h1><a class="header_money_gold">Money Change Maker</a></h1>
		</header>

		<hr class="green_line"> <!--horizontal rule-->

		<center><%= yield %></center>
	
		<br>
		<br>

		<hr class="green_line"> <!--horizontal rule-->

		<footer class="center">
			<a class="blue_footer" href="http://www.citizensbank.com">Visit Citizen's Bank for Your Change Needs</a>
		
		</footer>

	</body>

</html>