<!DOCTYPE html>
<html>
	<head>
		<link href="styles/styles.css" rel="stylesheet">
	</head>

	<header>
		<h1 class="center">Money Change Maker</h1>
	</header>

	<body>
		<%= yield %>
	</body>

	<br>
	<br>
	<footer>
		<div class="center">
			<a href="http://www.citizensbank.com">Visit Citizen's Bank for Your Change Needs</a>
		</div>
	</footer>
</html>